.nav-button {
	position: absolute;
	width: 5rem;
	height: 2.5rem;
	border: none;
	font-size: 1.8rem;
}
.nav-button:hover {
	cursor: pointer;
	filter: brightness(1.25);
	transition: filter 400ms ease;
}
.nav-button:focus {
	outline: none;
}

.stat-button {
	left: -5rem;
	top: 5rem;
	background-color: var(--stat-bg-color);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.main-button {
	left: 0;
	top: 7.5rem;
	background-color: var(--main-bg-color);
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
