.stat-page {
	position: absolute;
	top: 0;
	left: 100vw;
	height: 100vh;
	width: 100vw;
	background-color: var(--stat-bg-color);
	transform: translate(0, 0);
	transition: transform 600ms ease-in-out;

	display: flex;
	flex-direction: column;
}

.stat-page-open {
	transform: translate(-100vw, 0);
}

.dog-ranking {
	position: absolute;
	display: flex;
	flex-direction: column;
}

.dog-ranking-best {
	left: 0;
}

.dog-ranking-worst {
	right: 0;
}

.breed-ranking {
	position: relative;
	font-size: 2rem
	font-type: 'Arial', sans-serif;
}
