.dog-button {
	background-color: transparent;
	border-radius: 1rem;
	border: none;
	padding: 0;
	padding-block: none;
	padding-inline: none;
	margin: 0;
	cursor: pointer;
	box-shadow: transparent 0px 0px 1rem;
	transition: box-shadow 400ms, background-color 400ms, transform 100ms;
}
.dog-button:hover {
	background-color: #646cff;
	box-shadow: #646cff 0px 0px 1rem;
}
.dog-button:active {
	box-shadow: #535bf2 0px 0px 1rem;
	transform: scale(0.98);
}
.dog-button:focus {
	outline: none;
}

.dog-image {
	background-color: transparent;
	object-fit: contain;
	width: 25vw;
	height: auto;
	max-width: 40vw;
	max-height: 60vh;
	border-radius: 1rem;
	margin: 0;
	display: block;
	transition: transform 200ms, filter 200ms;
}
.dog-image-up-vote {
	transform: scale(1.2);
	transition: transform ease-in-out 300ms;
}
.dog-image-down-vote {
	filter: grayscale(100%);
	transition: filter 400ms;
}
